.deps
.dirstamp
.libs
*.o
*.lo
*.la
*~

/autom4te.cache
/m4
/aux_scripts
/config.log
/config.status
/stamp-h1
/Makefile
/config.h
/libtool
/configure
/config.h.in
/aclocal.m4
/Makefile.in

# Debian files
/build-stamp
/debian/*.log
/debian/tmp
/debian/*substvars
/debian/klish
/debian/klish-dev
/debian/files

/bin/clish
/bin/konf
/bin/konfd
/bin/sigexec

/klish-*.tar*
