Source: klish
Section: shells
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Homepage: https://www.nixus.es/
Standards-Version: 3.9.8
Build-Depends:
 debhelper (>= 10),
 dh-autoreconf,
 libexpat1-dev,
 liblua5.1-0-dev,

Package: klish
Architecture: any
Depends:
 libexpat1,
 ${misc:Depends},
 ${shlibs:Depends},
Description: command line interface shell
 The klish is a framework for implementing a CISCO-like CLI on a UNIX systems.
 It is configurable by XML files.

Package: klish-dev
Architecture: any
Depends:
 klish,
 ${misc:Depends},
 ${shlibs:Depends},
Description: development files for klish
 This package contains the development files for klish.
