[Unit]
Description=Klish Configuration Daemon

[Service]
Type=simple
EnvironmentFile=/etc/default/konfd
ExecStart=/usr/sbin/konfd -l $QUEUE_DB -h $MYSQL_HOST -u $MYSQL_USER -p $MYSQL_PASSWD -d $MYSQL_DB $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
