#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_configure:
	./configure --prefix=/usr --libdir=/usr/lib/clish \
				--includedir=/usr/include/clish --with-lua

override_dh_auto_install:
	dh_auto_install --destdir=$(DESTDIR)

override_dh_systemd_enable:
	dh_systemd_enable --name=konfd -pklish --no-enable

override_dh_systemd_start:
	dh_systemd_start --name=konfd -pklish --no-start
