#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	./configure --prefix=/usr --libdir=/usr/lib/klish \
				--includedir=/usr/include/clish --with-lua

override_dh_installsystemd:
	dh_installsystemd -pklish --name=konfd --no-enable --no-start
